.box {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.hello {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
}

.container {
    width: 300px;
    height: 200px;
    background-color: gray;
    /* text-align: center; */
    /* align-self: center;
    align-content: center;
    align-items: center; */
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    /* margin-top: 100px;
    margin: auto;
    width: 50%;
    padding: 10px; */
    /* aligning at center */
    /* position: relative(box);
    left: 50%;
    top: 50%; */



}
