* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;;
}

nav {
	position: sticky;
	margin: 20px;
	padding: 20px;
/*	display: inline-block;*/
/*	display: inline-block;*/
}

/*.nav {
	position: sticky;
}*/

hr {
	color: gray;
}

.nav-logo {
	display: inline-block;
}

.right-nav {
	margin-left: 30%;
	display: inline-block;
	text-align: right;
}

nav ul {
	list-style-type: none;
/*	display: inline;*/
}

nav .nav, nav .nav-logo, nav .right-nav {
/*	Changes element to inline elements*/
	display: inline;
/*	margin: 0.5rem;*/
/*	margin-top: 0.5rem;*/
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;

}

.right-nav {
	margin-left: 30% !important;
	margin-right: 0% !important;
	display: inline-block;
	text-align: right !important;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 0.7rem;
	padding: 0.5rem;
	text-transform: capitalize;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 0.7rem;
	padding: 0.5rem;
}

.book-button {
	color: white;
	background-color: #336589;
	font-weight: bold;
	border-radius: 25px;
	font-size: 0.7rem;
	padding: 0.5rem;
}

nav {
	position: sticky !important;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
/*	background-color: rgba(0, 0, 0, 0.5);*/
/*	min-height: 100px;*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	height: 200px;
	width: 80%;
	margin-left: 100px;
	margin-right: 100px;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-left: 20em;
	text-align: right;
	height: 200px;
/*	min-height: 1000px;*/
/*	text-align: left;*/
}
.subtitle {
	font-size: 10px;
	margin-bottom: 10px;
}

.title {
	margin-bottom: 10px;
}

.intro {
	text-align: center;
}

.title-2 {
	margin: 30px;
}

.intro-description {
	margin: 30px;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	margin: 30px;
}

.title-2 {
	margin: 30px;
	padding: 30px;
}

.prefooter-description {
	margin: 10px;
}


.book-button {
	margin-bottom: 80px;
}

footer {
	text-align: center;
}