#div-1 {
	background-color: green;
/*	display: block; is the default behavior for div*/
	display: inline;
}

#span-1 {
	background-color: purple;
/*	display: inline; is the default behavior for span*/
	display: inline-block;
	width: 200px;
	height: 200px;
/*	The width and height of our span wwill not change, because we cant use width and height in property display: inline*/
	display: none;
}

#span-2 {
	background-color: red;
}

#div-2 {
	background-color: hotpink;
	display: none;
/*	Dose not display the div element*/
}

#img {
	display: inline-block;
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	width: 30%;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
}

/*Float Property*/
.img-float {
	width: 250px;
	height: 250px;
/*	float: right;*/
/*	Different values: right, left;*/
	float: inherit;
}

/*CSS Units*/

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

/*VH and VW are Viewport Units. VH for height, VW for width*/
/*Relative to the viewports wodth 1VH = 1% of the viewport's width 50 VW = 50% viewport's width*/
/*For example we put 50VW, it would occupy 50% of the viewport's width and it is regardless of the actual screen size*/

/*VW is useful for creating full-width elements (100%) that fill up the entire viewport's width.*/

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

/*REM: Relative to the root emement (HTML Tag)*/
/*EM: Relative to the parent element*/

.two-hundred-percent {
	font-size: 200%;
}

/*CSS Background Properties*/

.background {
	min-height: 1000px;
/*	background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 1000px;
}

/*CSS Positioning*/

.parent-element {
	background-color: skyblue;
	position: relative;
	padding: 50px 10px;
	height: 800px;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*Z-Index*/
.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}
