.external {
	color: yellow;
}

* {
	font-family: serif;
	font-size: 15px;
}

h1 {
	font-size: 30px;
}

.order-list {
	background-color: rgb(0, 150, 0);
}

#trans {
	text-transform: uppercase;
}

.box {
	background-color: white;
	border-style: solid;
	border-color: gray;
}

body img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

body > .end > li {
	letter-spacing: 5px;
	list-style-type: none;
}

.end ~ p {
	text-align: center;
}